CREATE TABLE students (
    id TEXT PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    password TEXT NOT NULL,
    age INTEGER,
    semester INTEGER,
    mode_of_transport TEXT,
    counselor TEXT,
    subject1 TEXT,
    subject2 TEXT,
    subject3 TEXT,
    subject4 TEXT,
    subject5 TEXT,
    subject6 TEXT,
    presentcgpa REAL,
    sem1sgpa REAL,
    sem2sgpa REAL,
    sem3sgpa REAL,
    sem4sgpa REAL,
    sem5sgpa REAL,
    sem6sgpa REAL,
    sem7sgpa REAL,
    sem8sgpa REAL,
    midsem1marks TEXT,
    midsem2marks TEXT,
    favourite_subject TEXT,
    least_favourite_subject TEXT,
    hobbies TEXT,                   
    extracurricular_activities TEXT,
    hours_of_study_per_day INTEGER,
    attendancem1 INTEGER,
    attendancem2 INTEGER,
    attendancem3 INTEGER,
    attendancem4 INTEGER,
    attendancem5 INTEGER,
    suggestions_by_counselor TEXT,
    HoD_remarks TEXT
    
);
CREATE TABLE teachers (
            id TEXT PRIMARY KEY,
            name TEXT NOT NULL,
            email TEXT  UNIQUE,
            department TEXT ,
            designation TEXT ,
            experience INTEGER ,
            subjects_handled TEXT ,
            password TEXT ,
            phone TEXT ,
            mentee1 TEXT,
            mentee2 TEXT,
            mentee3 TEXT,
            mentee4 TEXT,
            mentee5 TEXT, 
            mentee6 TEXT,
            mentee7 TEXT,
            mentee8 TEXT,
            mentee9 TEXT,
            mentee10 TEXT,
            mentee11 TEXT,
            mentee12 TEXT,
            mentee13 TEXT,
            mentee14 TEXT,
            mentee15 TEXT,
            mentee16 TEXT,
            remarks TEXT
        );
CREATE TABLE login_logs (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        user_type TEXT NOT NULL,
        user_id TEXT NOT NULL,
        login_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        action TEXT
    );
CREATE TABLE sqlite_sequence(name,seq);
